<h1>Todos os Gêneros</h1>
<ul>
  <% @genres.each do |genre| %>
    <p><%= link_to genre.name, genre_path(genre) %></p>
  <% end %>
</ul>

<% if is_admin? == true %>
  <%= link_to 'Novos gêneros', new_genre_path %>
<% end %>