<h1>Filmes de <%= @genre.name %></h1>

<% @genre.movies.each do |movie| %>
  <p><%= movie.name %></p>
<% end %>

<% if is_admin? %>
  <%= link_to 'Editar Gênero', edit_genre_path %>
  <%= button_to 'Deletar Gênero', genre_path(@genre), method: :delete %>
<% end %>