.navbar-expand-lg {
  background-color: #9C0D38;
}

.user_nav a {
  color: #E6E8E6;
  padding: 5px;
}

#navbarDropdown {
  color: #E6E8E6;
}

.navbar-brand {
  color: #E6E8E6;
}

.fa-search {
  color: #E6E8E6;
}

.btn {
  border-color: #E6E8E6 !important;
}