<div class="bg-white shadow rounded overflow-hidden, px-4 py-3, img-thumbnail">
  <h3>Filme: <%=link_to other.movie.name, movie_path(other.movie) %> </h3>
  <div>Nota: <%= other.score %></div>
  <%= other.review %>
</div>